# Visual Studio için temel .gitignore

# Visual Studio cache ve yapı dosyaları
.vs/
*.user
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# Build dosyaları
bin/
obj/
out/

# Paket yönetimi klasörleri
node_modules/
packages/
wwwroot/lib/

# Log ve kilit dosyaları
*.log
*.lock
*.cache
*.pdb

# Konfigürasyon dosyaları
appsettings*.json
secrets.json

# Resharper ve Rider
.idea/
*.sln.iml

# Git ignore için özel dosyalar
.DS_Store
Thumbs.db
